/* Mettre tous vos styles ici */

#rectangle {
    height: 500px;
    padding: 12px;
    background-color: rgb(253, 226, 194);
    border: 2px solid #848484;
    text-align: left;
    border-radius: 10px;
    margin-top: 40px;
}

#titre {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 8px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p1 {
    margin: 10px;
    font-size: 20px;
    text-align: left;
    color: #67a1e1;
    font-weight: bold;
    display: block;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

p2 {
    margin: 24px 16px;
    font-size: 16px;
    text-align: justify;
    color: #304e4e;
    font-weight: bold;
    font-family: Consolas, monaco, monospace;
    display: block;
}

#bouton {
    text-align: left;
    margin: 18px 8px;
    padding: 4px 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Century Gothic", serif;
    border-radius: 16px 3px 16px 3px;
    border: 2px solid #b7dae6;
    background: white;

}

#pMauvaiseRéponse {
    color: red;
    font-size: 16px;
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-decoration: line-through;

}

#pBonneRéponse {
    color: green;
    font-size: 16px;
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#pLaBonneRéponseQuiAPasÉtéDonné {
    color: blue;
    font-size: 16px;
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

